<header id="main-header" class="site-header header-home is-fixed">
    <div class="page-backdrop"></div>
    <div class="container">
        <div class="d-flex align-items-center">
            <a href="/" class="logo header-logo">
                <!-- <img src="/images/logo.svg" alt=""> -->
                LOGO
            </a>
            <div class="header-nav ml-auto">
                <button class="menu-toggle icomoon-menu" id="js-open-menu"></button>
                <div class="main-menu-wrap" id="js-main-menu">
                    <button class="menu-toggle menu-close icomoon-left-arrow-long" id="js-close-menu"></button>
                    <ul class="nav main-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="/projects">Projects</a>
                        </li>
            
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                       
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>